<h1>Articles Listing</h1>

<table>
    <thead>
        <tr>Title</tr>
        <th>Description</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title%></td>
            <td><%= article.description%></td>
            <td>placeholder</td>
        </tr>
        <%end%>   
    </tbody>
</table>

